@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0px 72px;
}

.flex {
    display: flex;
}


/* Nav */

nav {
    padding: 24px 0px;
}

nav strong {
    font-weight: 500;
    color: #000;
}

nav .flex {
    align-items: center;
    justify-content: space-between;
}

nav .links {
    display: flex;
    align-items: center;
    gap: 15px;
}

nav .links a {
    color: #000;
    transition: 200ms;
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 30px;
    opacity: 0.5;
}

nav .links a:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    opacity: 1;
    transform: scale(1.1);
}

/* Hero */

.hero {
    padding: 72px 0px;
}

.hero .text-wrapper {
    padding-bottom: 56px;
}

.hero .text-wrapper p {
    font-size: 28px;
    font-weight: medium;
}

.hero .text-wrapper h1 {
    font-size: 100px;
    font-weight: bold;
}

.hero .text-wrapper h1 span {
    color: #00000082;
}

/*  */

.hero .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero .flex p {
    max-width: 518px;
    width: 100%;
    font-size: 22px;
    font-weight: light;
    /* margin: auto; */
}

.hero .flex .contact-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    background: #000;
    color: #fff;
    padding: 24px 37px;
    border-radius: 100px;
}


/* Portfolio */


.portfolio {
    padding: 72px 0px;
}

.portfolio-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.portfolio-header .btn {
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1px solid #000;
    border-radius: 100px;
    padding: 16px 20px;
    color: #000;
}

.portfolio-item {
    margin-bottom: 40px;
}

.portfolio-item .project-preview {
    width: 100%;
    height: 100%;
}

.portfolio-item__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
}

.portfolio-item__text div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.portfolio-item .visit-btn {
    padding: 16px 28px;
    border: 1px solid #000;
    border-radius: 100px;
}


/* About Me */

.about-me {
    padding: 72px 0px;
}

.about-me .about-me__text {
    padding-bottom: 32px;
}

.about-me .about-me__text p {
    font-size: 18px;
    max-width: 697px;
    font-weight: light;
}

.about-me .about-me__text h3 {
    font-weight: 600;
    max-width: 856px;
    font-size: 72px;
    padding-bottom: 24px;
}

.about-me .more-btn {
    padding: 16px 20px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    gap: 12px;
    max-width: 150px;
    border-radius: 100px;
    color: #000;
}


/* Slider */

.slider {
    display: none;
}

/*  Highlights  */

.blog {
    padding: 72px 0px;
}

.blog-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.blog-header h4 {
    font-size: 40px;
    font-weight: 600;
}

.blog .highlights {
    display: flex;
    align-items: center;
    gap: 32px;
}

.blog-header .more-btn {
    padding: 16px 20px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    gap: 12px;
    border-radius: 100px;
    color: #000;
}

.blog .highlights .post {
    max-width: 331px;
}

.blog .highlights .post__text {
    padding-top: 24px;
}

.blog .highlights .post__text h6 {
    font-size: 22px;
    margin-bottom: 8px;
    font-weight: 500;
}


/*  Contact  */


.contact {
    padding: 72px 0px;
    text-align: center;
}

.contact p {
    font-size: 28px;
    padding-bottom: 24px;
}

.contact h6 {
    font-size: 104px;
    font-weight: 700;
    margin-bottom: 72px;
}

.contact a {
    font-size: 26px;
    text-decoration: underline;
    color: #000;
}



/* Footer */


footer {
    padding: 72px 0px;
    background: #131313;
    color: #fff;
}

footer .footer__text {
    padding-bottom: 64px;
}

footer .footer__text h6 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 8px;
}

footer .footer__text p {
    font-size: 22px;
    font-weight: 400;
}

footer .socialmedia-links {
    display: flex;
    gap: 16px;
}

footer .socialmedia-links a {
    border-radius: 100px;
    padding: 8px;
    text-align: center;
    width: 100%;
    color: #fff;
    border: 1px solid #fff;
}


/* Cutomize & Make mobile & Resume Page and may be Blog */